<div class="container">
    <form>
  <div class="row">
    <div class="col-2">
      <label>Id</label>
    </div>
    <div class="col-4">
      <input type="text" id="sid" name="sid" class="form-control" />
    </div>
    <div class="col-4">
      <span>**Please enter the Id</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>Code</label>
    </div>
    <div class="col-4">
      <input type="text" id="scode" name="scode" class="form-control" />
    </div>
    <div class="col-4">
      <span>**Please enter the Code</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>Name</label>
    </div>
    <div class="col-4">
      <input type="text" id="sname" name="sname" class="form-control" />
    </div>
    <div class="col-4">
      <span>**Please enter the Name</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>Note</label>
    </div>
    <div class="col-4">
      <input type="text" id="snote" name="snote" class="form-control" />
    </div>
    <div class="col-4">
      <span>**Please enter the Note</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{{acsList |json}}